files:
    "/opt/elasticbeanstalk/hooks/appdeploy/pre/02a_set_up_var.sh" :
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/usr/bin/env bash
            EB_CONFIG_APP_STAGING=$(/opt/elasticbeanstalk/bin/get-config container -k app_staging_dir)

            # Export Environment Variables
            export IS_DEBUG=$(/opt/elasticbeanstalk/bin/get-config environment -k IS_DEBUG)
            export SERVER_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k SERVER_HOST)

            export MW_SECRET_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k MW_SECRET_KEY)
            export MW_UPGRADE_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k MW_UPGRADE_KEY)

            export DATABASE_HOSTNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k DATABASE_HOSTNAME)
            export DATABASE_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k DATABASE_NAME)
            export DATABASE_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k DATABASE_USERNAME)
            export DATABASE_PASSWORD=$(/opt/elasticbeanstalk/bin/get-config environment -k DATABASE_PASSWORD)

            export PARSOID_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k PARSOID_HOST)

            export EMERGE_CONTACT_EMAIL_ADDR=$(/opt/elasticbeanstalk/bin/get-config environment -k EMERGE_CONTACT_EMAIL_ADDR)
            export PASSWORD_SENDER_CONTACT_EMAIL_ADDR=$(/opt/elasticbeanstalk/bin/get-config environment -k PASSWORD_SENDER_CONTACT_EMAIL_ADDR)

            export SMTP_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k SMTP_HOST)
            export SMTP_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k SMTP_USERNAME)
            export SMTP_PASSWORD=$(/opt/elasticbeanstalk/bin/get-config environment -k SMTP_PASSWORD)

            export GOOGLE_ANALYTICS_TRACKING_ID=$(/opt/elasticbeanstalk/bin/get-config environment -k GOOGLE_ANALYTICS_TRACKING_ID)

            export AWS_S3_ACCESS_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_S3_ACCESS_KEY)
            export AWS_S3_SECRET_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_S3_SECRET_KEY)
            export AWS_S3_REGION_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_S3_REGION_NAME)
            export AWS_S3_BUCKET_NAME=$(/opt/elasticbeanstalk/bin/get-config environment -k AWS_S3_BUCKET_NAME)

            # Make secret file for EB Deploy
            cp "$EB_CONFIG_APP_STAGING/config/secret.eb.php" "$EB_CONFIG_APP_STAGING/config/secret.php"
